---
// Style Imports
import '../styles/global.css';
---
<body data-theme="dark">
  <main class="container min-h-screen mx-auto text-3xl flex flex-col gap-4 items-center justify-center">
    ขายของแปป

    <h1 class="text-6xl p-8 rounded-xl border flex flex-col items-center gap-2">
      <div>
        https://twitch.narze.live
      </div>
    </h1>
  </main>
</body>
