---
// Style Imports
import '../styles/global.css';
---
<body data-theme="dark">
  <main class="container min-h-screen mx-auto text-3xl flex flex-col gap-4 items-center justify-center">
    <h1 class="text-6xl p-8 rounded-xl border flex flex-col items-center gap-2">
      <div>
        React vs Vue vs Svelte
        </div>
      <a href="https://github.com/narze/basic-svelte-for-react-and-vue-developers" class="link text-lg">github.com/narze/basic-svelte-for-react-and-vue-developers</a>
    </h1>

    <ul class="mt-8 flex flex-col gap-4 w-4/5">
      <li class="flex gap-4">
        <span class="flex-1">Component Structure</span>
        <a href="/component-structure/react" class="link link-primary">[ React ]</a>
        <a href="/component-structure/vue" class="link link-primary">[ Vue ]</a>
        <a href="/component-structure/svelte" class="link link-primary">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span class="flex-1">State Management</span>
        <a href="/state-management/react" class="link link-primary">[ React ]</a>
        <a href="/state-management/vue" class="link link-primary">[ Vue ]</a>
        <a href="/state-management/svelte" class="link link-primary">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span class="flex-1">Computed State</span>
        <a href="/computed-state/react" class="link link-primary">[ React ]</a>
        <a href="/computed-state/vue" class="link link-primary">[ Vue ]</a>
        <a href="/computed-state/svelte" class="link link-primary">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span class="flex-1">Data Binding</span>
        <a href="/data-binding/react" class="link link-primary">[ React ]</a>
        <a href="/data-binding/vue" class="link link-primary">[ Vue ]</a>
        <a href="/data-binding/svelte" class="link link-primary">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span class="flex-1">Conditional Rendering</span>
        <a href="/conditional-rendering/react" class="link link-primary">[ React ]</a>
        <a href="/conditional-rendering/vue" class="link link-primary">[ Vue ]</a>
        <a href="/conditional-rendering/svelte" class="link link-primary">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span class="flex-1">Loops</span>
        <a href="/loops/react" class="link link-primary">[ React ]</a>
        <a href="/loops/vue" class="link link-primary">[ Vue ]</a>
        <a href="/loops/svelte" class="link link-primary">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span class="flex-1">Other (Svelte)</span>
        <a href="/other/svelte-store" class="link link-primary">svelte/store</a>
        <a href="/other/svelte-motion" class="link link-primary">svelte/motion</a>
        <a href="/other/svelte-transition" class="link link-primary">svelte/transition</a>
        <a href="/other/svelte-await" class="link link-primary"><code>await</code> blocks</a>
      </li>
    </ul>
  </main>
</body>
