---
// Style Imports
import '../styles/global.css';
---
<body data-theme="dark">
  <main class="container min-h-screen mx-auto text-3xl flex flex-col gap-4 items-center justify-center">
    <h1 class="text-6xl p-8 rounded-xl border">React vs Vue vs Svelte</h1>

    <ul class="mt-8">
      <li class="flex gap-4">
        <span>Component Structure:</span>
        <a href="/component-structure/react" class="underline">[ React ]</a>
        <a href="/component-structure/vue" class="underline">[ Vue ]</a>
        <a href="/component-structure/svelte" class="underline">[ Svelte ]</a>
      </li>
      <li class="flex gap-4">
        <span>State Management:</span>
        <a href="/state-management/react" class="underline">[ React ]</a>
        <a href="/state-management/vue" class="underline">[ Vue ]</a>
        <a href="/state-management/svelte" class="underline">[ Svelte ]</a>
      </li>
    </ul>
  </main>
</body>
