---
// Style Imports
import '../styles/global.css';
---
<body data-theme="dark relative">
  <main class="container min-h-screen mx-auto text-3xl flex flex-col gap-4 items-center justify-center">
    <h1 class="text-6xl p-8 rounded-xl flex flex-col items-center gap-6">
      <div>
        Basic Svelte for React & Vue developers
      </div>
      <div>
        - @narze
      </div>
    </h1>
  </main>
  <div class="fixed bottom-8 right-8 text-gray-500 text-xl">Angular not supported</div>
</body>
