---
import { Code } from "astro/components"
import * as fs from "node:fs"
import * as path from "node:path"

import '../../styles/global.css';

import Component from "../../components/state-management/vue.vue"

const filepath = path.join(
process.cwd(),
"src",
"components/state-management/vue.vue"
)

const code = fs.readFileSync(`${filepath}`, "utf8")
---

<body data-theme="dark">
  <main class="h-screen p-12 flex flex-col gap-4">
    <section id="header" class="flex flex-col gap-4">
      <div class="">
        <a href="/" class="flex-1">&lt; Back</a>
      </div>
      <div class="gap-2 flex items-end">
        <span class="text-5xl flex-1 capitalize"
          >state management: vue</span
        >
        <a href="react" class="text-2xl underline">[ React ]</a>
        <a href="vue" class="text-2xl underline">[ Vue ]</a>
        <a href="svelte" class="text-2xl underline">[ Svelte ]</a>
      </div>
    </section>
    <section class="flex gap-4 h-full">
      <div
        class="w-1/2 grid place-content-center h-full bg-[#282c34] rounded-xl overflow-y-scroll no-scrollbar p-8"
      >
        <div class="scale-150">
          <Code code={code.replaceAll(/\s*class(Name)?=\".+?\"/g, "")} lang="vue" theme="one-dark-pro" />
        </div>
      </div>
      <div
        class="w-1/2 grid place-content-center h-full border rounded-xl overflow-y-scroll no-scrollbar p-8"
      >
        <div class="scale-[3]">
          <Component client:only={"vue"} />
        </div>
      </div>
    </section>
  </main>
</body>
